h1 {
    
	background-color: black;
	text-align: right;
    color: white;
    font-weight: 300;
}
label {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}
.card {
	margin: 20px;
    color: black;
   
}

.colOne {
   
	background-color: darkgray;
    color: black;
	
}
.colTwo {
	    
        background-image: url('pexels-lumn-1028600.jpg');

}
.histBtnRow {
    margin-top: 5px;
	margin-bottom: 5px;
    margin-left: 5px;
    background-color: darkgray;
    color: black;
    
}

.icons {
	height: 60px;
	width: 60px;
}
.cardTodayDate {
	font-size: 20px;
    background-color: darkgray;
    color: white;
    
}